.mainhead {
  position: absolute;
  margin-left: 20px;
  background: linear-gradient(to right, red, #ff6b08, green, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.middle {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countNum {
  font-size: 80px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 5vh;
}
